%h1 #{user.name}'s treasures

%ul
  - for item in user.items
    %li{:class => nil}
      #{item.name}, #{item.price} Credits,
      - if item.is_active?
        %form(action="/buy" method="POST" )
          %input(type = 'hidden' name = 'product'){ :value => item.name }
          %input(type = 'hidden' name = 'seller'){ :value => user.name }
          %input(type = 'hidden' name = 'buyer'){ :value => name }
          %input(type = 'submit' value = 'Buy')
      - else
        %i
          (inactive)
%a{:href => "/logout"} Logout